table {
    width: 100%;
    table-layout: fixed;
  }

th.mat-header-cell {
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: #FDFDFD;
  }

tr.mat-header-row {
    background-color: rgb(221, 16, 16);
  }

td.mat-cell{
    text-align: center;
}